<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-08-19T16:57:23Z</date>
	<key>WorkspacePath</key>
	<string>/Users/edwincloud/Documents/Make School/projects/Currency Converter/Currency Converter.xcodeproj</string>
</dict>
</plist>
